/*Responsive*/

/**
*
* 
* Change of screen
* 
* */
@media screen and (max-width: 1320px){

	.conteudo{

		width: 60% !important;

	}
	.conteudoTwo{

		width: 65% !important;

	}

}

@media screen and (max-width: 1200px){
	.conteudo, .conteudoTwo{
		display: block;
	}

	.rightConteudo, .leftConteudo{
		float: none !important;
	}

	.conteudo{
		max-width: 1200px;
		min-width: 600px;
		width: 100% !important;
	}

	.respContPessoal{
		max-width: 380px !important;
		min-width: 320px !important;
		width: 30% !important;
		float: left;
	}

	.respContSkill{
		max-width: 770px !important;
		min-width: 320px !important;
		width: 60% !important;
		float: left;
	}

	.conteudoTwo{
		max-width: 1200px;
		min-width: 600px;
		width: 100% !important;

	}
}

@media screen and (max-width: 1174px){
	.conteudo{
		max-width: 1174px;
		min-width: 600px;
		width: 100% !important;
	}

	.conteudoTwo{
		max-width: 1174px;
		min-width: 600px;
		width: 100% !important;

	}

	.respContPessoal{
		width: 30% !important;
	}

	.respContSkill{
		width: 55% !important;
	}

}

@media screen and (max-width: 875px){

	.conteudo{
		max-width: 875px;
		min-width: 320px;
		width: 90% !important;
	}

	.conteudoTwo{
		max-width: 875px;
		min-width: 320px;
		width: 90% !important;

	}

	.respContPessoal{
		width: 28% !important;
	}

	.respContSkill{
		width: 46% !important;
	}

}

@media screen and (max-width: 786px){

	.conteudo{
		max-width: 776px;
		min-width: 320px;
		width: 90% !important;
	}

	.conteudoTwo{
		max-width: 776px;
		min-width: 320px;
		width: 90% !important;

	}

	.respContPessoal, .respContSkill{

		float: none;

	}

	.respContPessoal{
		max-height: 500px !important;
		max-width: 760px !important;
		width: 100% !important;
    	text-align: center;
	}

	.respContSkill{
		width: 100% !important;
	}


}